
/* The footer div */

#footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background: rgb(135, 206, 235);
}

#sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }

/* #hide {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }
   
#hide:onmouseout {
	-webkit-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity:0.25;
} */

/* #wrapper{
	margin-left: auto;
	margin-right: auto; 
	position: relative; //make #wrapper position non-static
	min-height: 99%;
	bottom:0px;
} */

/* html,body { height:100%; }

footer {
	bottom:0px;
}  */


