
/* The footer div */

#footer {
	position: fixed;
	padding: 10px 10px 0px 10px;
	bottom: 0;
	width: 100%;
	/* Height of the footer*/
	height: 40px;
	background: rgb(135, 206, 235);
}


/* Is this really in use? _ MUST CHECK */
#sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }

/* landing page: screen only: mid screen */
@media screen and (min-width: 1023px)
{
div.multi-cols
    {
        column-count: 3;
        column-gap: 30px;
        column-rule: none 1px lightgrey;
    }		
}

/* landing page: screen only: mid screen */
@media screen and (min-width: 640px) and (max-width: 1023px)
{
div.multi-cols
    {
        column-count: 2;
        column-gap: 30px;
        column-rule: none 1px lightgrey;
    }	
}

/* landing page: screen only: small screen */

@media screen and (max-width: 640px)
{
    div.multi-cols
    {
        column-count: 1;
        column-gap: 30px;
        column-rule: none 1px lightgrey;
    }	
}

/* landing page: screen only: mid screen */

@media screen and (max-width: 640px)
    {
        .two-cols
    {
        column-count: 1;
        column-gap: 30px;
        column-rule: none 1px lightgrey;
    }	
}

@media screen and (min-width: 640px)
{
.two-cols
    {
        column-count: 2;
        column-gap: 30px;
        column-rule: none 1px lightgrey;
    }
}					

/* experimental dark mode */

.dark-mode {
    background-color: #202324;
    color: rgb(241, 241, 241);
  }


/* #hide {
   opacity: 1;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
   }
   
#hide:onmouseout {
	-webkit-opacity: 0.25;
	-moz-opacity: 0.25;
	opacity:0.25;
} */

/* #wrapper{
	margin-left: auto;
	margin-right: auto; 
	position: relative; //make #wrapper position non-static
	min-height: 99%;
	bottom:0px;
} */

/* html,body { height:100%; }

footer {
	bottom:0px;
}  */


